input {
  /* width: 400px; */
  padding: 0 20px;
  background: transparent;
  /* border: none; */
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

input,
input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 2;
}

textarea {
  padding: 0 20px;
  background: transparent;
  /* border: none; */
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}
